{% extends "commons/base.html" %}

{% block content %}    

<ul>
    <li><a href="{% url 'hello' %}">Hola Django, Vue <i>style</i></a></li>
    <li><a href="{% url 'hello2' %}">Hola Django, Vue <i>style</i> (Sin el tag verbatin)</a></li>
    <li><a href="{% url 'counter' %}">Contador</a></li>
    <li><a href="{% url 'counter2' %}">Contador / Decontador</a></li>
    <li><a href="{% url 'model' %}">Doble vinculación con v-model</a></li>
    <li><a href="{% url 'tareas' %}">Tareas</a></li>
    <li><a href="{% url 'login_vanilla' %}">login (Con Vanilla JS)</a></li>
    <li><a href="{% url 'login_vue' %}">login (Con Vue)</a></li>
</p>
{% endblock content %}
